:root{
    --font-primary: 'Inter Tight', sans-serif;
    --collor-black0: #000000;
    --collor-white0: #ffffff;
    --color-grey10: #212529;
    --color-grape06: #be4bdb;
    --color-violet06: #7950f2;
    --color-blue06: #228be6;
    --color-orange06: #fabb5d;    
}
body{
    background: var(--collor-black0);
}