:root{
    --font-primary: 'Inter Tight', sans-serif;
    --collor-black0: #000000;
    --collor-white0: #ffffff;
    --color-grey10: #212529;
    --color-grape06: #be4bdb;
    --color-violet06: #005dff;
    --color-orange06: #ffb412;    
}
body{
    background: var(--collor-black0);
}