.footer{
    padding: 1.5rem 0;
    background: #005dff;

    .flexBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

img{
    width: 5rem;
    height: 5rem;
}