.cardsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
}

.listBox{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}