.title1{
    color: var(--color-orange06);
}

.flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 1.5rem;

    img{
        width: 170px;
        height: 110px;
    }

    & > div{
        min-width: clamp(0px, 100%, 450px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    @media (min-width: 660px){
        justify-content: space-between;

        & > div{
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}